<div class="panel panel-primary panel-modal">
    <h2>Please Login to access this information</h2>
    {{ vm.user.userName || json }}
    <pre>{{ user.userName }}</pre>
     <form role="form">
      <div class="form-group">
        <label for="number">Operator Number</label>
        <input type="text" class="form-control" id="number" ng-model="vm.operatorNumber" placeholder="Enter operator number..." />
      </div>
      <div class="form-group">
        <label for="passcode">Passcode</label>
        <input type="password" class="form-control" id="passcode" ng-model="vm.passcode" placeholder="Enter 4 digit passcode..." />
      </div>
      <button type="submit" class="btn btn-default" ng-click="vm.authenticate()">OK</button>
      <button type="submit" class="btn btn-default" ng-click="vm.closeModal()">Cancel</button>
    </form>
</div>
